@mixin adaptiveWith($width) {
    width: $width + px;
    height: ($width * 56) /100 + px;
}

.detail {
    // width: 933px;
    // height: 525px;
    @include adaptiveWith(1000);
    position: relative;
    margin: 0 auto;
}

.img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.svg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 6;

    path {
        cursor: pointer;
        fill: transparent;
        &:hover {
            fill: blueviolet;
        }
    }
}
